.spinner {
    display: inline-block;
    height: 90%;
    aspect-ratio: 1 / 1;
    background-image: url('~assets/spinner-solid.svg');
    background-repeat: no-repeat;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
