
input[type=text], select, textarea {
    &.ng-invalid {
        border: solid red 1px;
    }
}

textarea, input, button {
    border-radius: 0.5em;
    border: blue 1px solid;
    background-color: aliceblue;
    resize: none;
    padding: 0.5em;
    &:focus {
        outline: none;
    }
}

select {
    margin: 1em;
    height: 2em;
    background-color: aliceblue;
    border-radius: 0.5em;
    border: blue 1px solid;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: red;
}
