.menu-header {
  height: 4em;
}

.menu {
  margin-top: -1em;
  margin-left: -1em;
  padding-top: 2em;
  font-size: 16px;
  background-color: white;
  height: 4em;
  > li {
    display: inline;
  }
}

.flex-container {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  a {
    width: 15em;
    display: inline-block;
    padding: 0.8em;
    border: solid black 1px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: thistle;
    text-decoration: none;
    &:hover {
      background-color: wheat;
    }
    &.currentPage {
      font-weight: bold;
      background-color: sienna;
      color: white;
    }
  }
}
