.menu-header {
  height: 4em;
}

.menu-bar {
  position: fixed;
  width: 101%;
  left: 0;
  top: 0;
  background-color: indigo;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;

    button {
      margin: 1em;
      padding: 1em;
      border-radius: 0.5em;
      border: none;
      width: 14em;
      background-color: orange;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: yellow;
      }

      &.currentPage {
        font-weight: bold;
        background-color: #AAFFAA;
      }
    }
  }
}
