.time-span {
    margin: 50px;
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 100px;
    overflow-x: scroll;

    .minute {
        height: 100%;
        border-left: solid black 1px;

        &:nth-child(even) {
            background-color: dodgerblue;
        }
        &:nth-child(odd) {
            background-color: deepskyblue;
        }
    }
}