target/
*.class
node_modules
.project
.settings
.classpath
node/
node_modules/
lib/
FilmGezien.iml
backend/backend.iml
daily-email-content.html
start-me.sh


### IntelliJ IDEA ###
/.idea
*.iws
**/*.iml
*.ipr

