frontend/target/
backend/target/
target/
!.mvn/wrapper/maven-wrapper.jar
*.class

logs/*
!.gitkeep
node_modules/
node/
bower_components/
tmp
.DS_Store
src/main/npm-debug.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.tern-project


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
