<div class="page">
  <div class="container" *ngrxLet="things$; let thing">{{thing}}</div>

  <p>obstest works!</p>

  <div class="naam">{{naam}}</div>

  *ngrxLet
  <div class="things" *ngrxLet="things$ as things">Thing is: {{things}}</div>
  <br>
    *ngFor
    @for (thing of things$ | async; track thing) {
      <div class="thing">{{thing}}</div>
    }


    <div class="tables-twin">
      <div class="twin-table">
        <div>Table of twins</div>
        <p>Names</p>
        <table>
          <tr>
            <th>Name</th>
            <th>Sex</th>
          </tr>
          <tr>
            <td>Bob</td>
            <td>Male</td>
          </tr>
          <tr>
            <td>Alice</td>
            <td>Female</td>
          </tr>
        </table>
        <p>
          <input type="checkbox" [(ngModel)]="showRightPanel">Show right panel
        </p>
      </div>
      @if (showRightPanel) {
        <div class="twin-table">
          <p>Travellers</p>
          <table>
            <tr>
              <th>Name</th>
              <th>Sex</th>
            </tr>
            <tr>
              <td>Bob</td>
              <td>Male</td>
            </tr>
          </table>
        </div>
      }
    </div>
  </div>
