<div class="menu-header">
    <div class="menu-bar">
        <a href="home" ><button [ngClass]="{'currentPage':currentPage == 'home' || currentPage == ''}">Home</button></a>
        <a href="overview"><button [ngClass]="{'currentPage':currentPage == 'overview'}">Overview</button></a>
        <a href="observableTest"><button [ngClass]="{'currentPage':currentPage == 'observableTest'}">Observable Test</button></a>
        <a href="processSteps"><button [ngClass]="{'currentPage':currentPage == 'processSteps'}">Process steps</button></a>
        <a href="mousewheelScrolling"><button [ngClass]="{'currentPage':currentPage == 'mousewheelScrolling'}">Mousewheel scrolling</button></a>
    </div>
</div>

<div *ngIf="version" class="version">Versienummer: {{version.number}} / {{version.dateTime}}</div>
