<navigatie-menu></navigatie-menu>

<p>SpringbootAngularApp</p>

<div *ngIf="version" class="version">Versienummer: {{version.number}} / {{version.dateTime}}</div>
<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>
Hoi<br>

