form {
    margin: 1em;
    padding: 1em;
    width: fit-content;
    border: solid 1px gray;
    border-radius: 1em;
}


button, input[type=submit] {
    display: block;
    color: white;
    background-color: lightseagreen;
    border-color: seagreen;
    margin-right: 2em;
}