<navigatie-menu></navigatie-menu>

<form class="page">
  <div class="items-in-row"><i>Demo css-class using </i>&nbsp;:after&nbsp;<i> that shows spinner when button is disabled.</i></div>
  <span><input type="checkbox" required [(ngModel)]="checkBoxValid">Select checkbox to make the form valid.</span>
  <div class="items-in-row">
    <button type="submit" class="disabled-spinner" [disabled]="demoButton1Disabled" [ngClass]="{'not-allowed': processing}" (click)="demoButton1Submit()">
      Click here to show spinner when disabled
    </button>
    <button type="submit" class="disabled-spinner" [disabled]="demoButton2Disabled" [ngClass]="{'not-allowed': processing}" (click)="demoButton2Submit()">
      This other button will be disabled
    </button>
  </div>
</form>
<br>

<div class="default-area">
  <button (click)="openXmlWindow()">Open XML window</button>
  <button (click)="openHtmlWindow()">Open HTML window</button>
  <table class="status">
    <tr><th>Moment</th><th>status</th></tr>
    <tr><td>Opening</td><td>{{contentType1}}</td></tr>
    <tr><td>Opened</td><td>{{contentType2}}</td></tr>
    <tr><td>Final</td><td>{{contentType3}}</td></tr>
  </table>
  <button (click)="closeWindow()">Close window</button>
</div>
