.three-d-page {
    width: 101vw;
    height: 100vh;
    margin-left: -1vw;
    background-color: black;

}

.circle {
    position: absolute;
    top: var(--offsety);
    left: var(--offsetx);
    height: var(--radius);
    width: var(--radius);
    border-radius: 50%;
    display: inline-block;
    &.right {
        border: double #880000 5px;
    }
    &.left {
        border: double #0000FF 5px;
    }
}
