<navigatie-menu></navigatie-menu>
<div class="page">
  Dynamic styling.

  <h2>Async Hero Message and AsyncPipe</h2>
  <p>Message: {{ message$ | async }}</p>
  <button (click)="resend()">Resend</button>
  <br>

  <div appAttribute bgColor="{{this.backgroundColor}}" (clicked-on-directive-element)="message = $event"
       (host-element-binding-click)="info = $event" #exportDirective="exportDirective">
    Using attribute directive to select background-color:<br>
    <input type="radio" name="backgroundColor" [(ngModel)]="backgroundColor" [value]="'lightblue'"> Green<br>
    <input type="radio" name="backgroundColor" [(ngModel)]="backgroundColor" [value]="'lightgreen'"> Blue<br>
    <br>
    Click here to trigger clicked-on-directive-element<br>
    {{message}}<br>
    {{info}}<br>
    <br>
    {{exportDirective.directiveVariable}}
  </div>

  <h1 *appStructuralDirective="true">True</h1><h1 *appStructuralDirective="false">False</h1>

  <div attr-dir="lightgrey">
    Using appSingleHostElementAttributeDirective (attr-dir)<br>
    click here to change background color.<br>
    <br>
    Simple two way binding: <input type="text" [(ngModel)]="inputText"><input type="text" [(ngModel)]="inputText"> {{inputText}}<br>
    Two way binding with get and set: <input type="text" [(ngModel)]="inputValue"> {{inputValue}}<br>
  </div>

  <div *ngFor="let nr of nummers; let i = index;">Nr {{nr + i}}</div>
</div>
