<navigatie-menu></navigatie-menu>

<div class="page">
  <form name="form" #form="ngForm">
    <table class="form-table">
      <tr>
        <td><label>Username</label></td>
        <td><input id="username" name="username" #usernameValidation="ngModel" [(ngModel)]="username" required pattern="[a-z]{7,20}"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span *ngIf="usernameValidation.invalid && usernameValidation.touched">
            Username should be between 7 and 20 characters long and only have lowercase characters
          </span>
        </td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td>
          <input id="password" name="password" type="password" #passwordValidation="ngModel" [(ngModel)]="password"
                 required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!$%@#£€*?&])([a-zA-Z\d!$%@#£€*?&]{10,20})">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span *ngIf="passwordValidation.invalid && passwordValidation.touched">
            Password should be between 10 and 20 characters long and should have at least one lowercase, one uppercase, one digit and one special character ($%&#64;#£€*?&)
          </span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="disabled-spinner" (click)="submit()">Login</button></td>
      </tr>
      <tr>
        <td></td>
        <td><span [innerHTML]="error"></span></td>
      </tr>
    </table>
  </form>
</div>