button.show-processes {
    margin: 1em 0;
    width: 250px;
    height: 50px;
    border-color: blue;
    border-radius: 0.5em;
    background-color: aqua;
}

button.edit-proces {
    border-color: violet;
    background-color: #9400d3;
    color: white;
}

.steps-area {
    width: 20em;
    height: 10em;
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &.mandatory {
        color: white;
        background-color: #fb8817;
    }

    .complete, .error {
        width: 15em;
        height: 2em;
        padding: 1em;
        border-radius: 1em;
        text-align: center;
        vertical-align: middle;
    }

    .complete {
        color: black;
        background-color: #AAFFAA;
    }
    .error {
        color: white;
        background-color: #c12127;
    }
}
