@use "stylesheets/main";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.showing-button.mat-mdc-icon-button {
    font-size: 14px;
    white-space: nowrap;
    mat-icon {
        margin-bottom: -6px;
    }
}
